aside.sidebar
  .top_bar
    p.logo
      i.iconfont.icon-95b
    i.iconfont.icon-7cd.toggle_another_form
  ul.menu
    li
      a(href='_HOST_/html/todo.html')
        i.iconfont.icon-878
        span.title TODO
        span.arrow
    li
      a(href='javascript:;')
        i.iconfont.icon-72d
        span.title UI组件
        span.arrow
      ul.sub_menu
        li
          a.title(href='_HOST_/html/grid.html') 网格布局(grid)
        li
          a.title(href='_HOST_/html/button.html') 按钮(button)
        li
          a.title(href='_HOST_/html/form_element.html') 表单元素(form-element)
        li
          a.title(href='_HOST_/html/validate.html') 验证(validate)
        li
          a.title(href='_HOST_/html/mask.html') 遮罩(mask)
        li
          a.title(href='_HOST_/html/tip.html') 提示(tip)
        li
          a.title(href='_HOST_/html/box.html') 弹框(box)
        li
          a.title(href='_HOST_/html/icon_font.html') 图标(iconfont)
        li
          a.title(href='_HOST_/html/expression.html') 表情(expression)
        li
          a.title(href='_HOST_/html/datepicker.html') 日期控件(datepicker)
    li
      a(href='javascript:;')
        i.iconfont.icon-889
        span.title 图表
        span.arrow
      ul.sub_menu
        li
          a.title(href='_HOST_/html/chart1.html') 图表1
        li
          a.title(href='_HOST_/html/chart2.html') 图表2
    li
      a(href='javascript:;')
        i.iconfont.icon-862
        span.title 表格
        span.arrow
      ul.sub_menu
        li
          a.title(href='_HOST_/html/table1.html') 表格1
        li
          a.title(href='_HOST_/html/table2.html') 表格2
    li
      a(href='_HOST_/html/form.html')
        i.iconfont.icon-85a
        span.title 表单页面
        span.arrow
    li
      a(href='_HOST_/html/push.html', target='_blank')
        i.iconfont.icon-8a6
        span.title 推送
        span.arrow
    li
      a(href='_HOST_/html/docking_list.html')
        i.iconfont.icon-83c
        span.title 对接
        span.arrow
    li
      a(href='_HOST_/html/welcome.html')
        i.iconfont.icon-730
        span.title 欢迎页面
        span.arrow
    li
      a(href='_HOST_/html/login.html')
        i.iconfont.icon-919
        span.title 登录页面
        span.arrow
    li
      a(href='_HOST_/html/404.html')
        i.iconfont.icon-705
        span.title 404
        span.arrow
    li
      a(href='_HOST_/html/error.html')
        i.iconfont.icon-94c
        span.title 错误页面
        span.arrow
    li
      a(href='_HOST_/html/not_support.html')
        i.iconfont.icon-836
        span.title 不支持页面
        span.arrow
    li
      a(href='javascript:;')
        i.iconfont.icon-774
        span.title 个人中心
        span.arrow
      ul.sub_menu
        li
          a.title(href='#') 我的信息
        li
          a.title(href='#') 修改密码
        li
          a.title(href='#') 退出登录
