extends ../_temp/main
block body
    - var curPage = "项目";
    include ../_temp/menu
    .content
    include ../_temp/js_base
    script(src='_HOST_/js/spd/add_guest_user.js')
    script(src='_HOST_/js/spd/user.js')
